@import "~react-id-swiper/src/styles/css/swiper.css";
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~react-perfect-scrollbar/dist/css/styles.min.css";
@import "~react-scrollbar/dist/css/scrollArea.css";

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-atuo {
  margin-right: auto;
}

.mx-auto {
  margin: auto;
  display: block;
}

.material__input-autoHeight {
  height: auto !important;
}

/*----------------------------------
  transtion group animations
----------------------------------*/

.fade-enter {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
}

// products animations
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);

  }

  to {
    opacity: 0;
    background-color: #FF1744;
    -webkit-transform: translate3d(800px, 0, 0);
    transform: translate3d(800px, 0, 0);
  }
}

.bounceOutRight {
  animation: bounceOutRight ease-out 1.5s forwards;
}

@keyframes fadeGreenify {
  from {
    opacity: 0;
  }
  20% {
    opacity: .5;
  }
  60% {
    opacity: .8;
    background-color: #00C853;
  }
  to {
    opacity: 1;
    background-color: transparent;
  }
}

.fadeGreenify {
  animation: fadeGreenify ease-in-out 1s forwards;
}

.fading-enter {
  opacity: .01;
}

.fading-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;

}

.fading-exit {
  opacity: 1;
}

.fading-exit-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.w-100 {
  width: 100%;
}

// drawer model  paper
.MainDrawerPaper {
  width: 240px;
}
